.navbar-custom {
  background-color: #29335c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-custom .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center; /* Asegurarse de que los elementos estén alineados verticalmente */
}

.navbar-custom .navbar-brand {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1; /* Asegurar una línea ajustada */
}

.navbar-custom .nav-link {
  color: #ddd;
  line-height: 0.5; /* Asegurar una línea ajustada */
  padding: 0.5rem; /* Ajustar el padding de los enlaces */
}

.navbar-custom .nav-link:hover {
  color: #fff;
}

.navbar-custom .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1); /* Cambia el color del borde del botón */
  padding: 0.25rem 0.5rem; /* Ajustar el padding del botón */
}

.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Si el navbar es un HERMANO del div (están al mismo nivel) */
.spiderman-theme ~ .navbar-custom {
  background-color: rgba(11, 14, 20, 0.6) !important;
  backdrop-filter: blur(15px);
  border-bottom: 2px solid #ff003c;
}

/* Cambiar el color de los enlaces solo en esta página */
.spiderman-theme .navbar-custom .nav-link {
  color: #00d2ff !important; /* Azul neón */
  font-family: 'Orbitron', sans-serif;
}