.page-content {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .custom-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .custom-button:hover {
    background-color: #0056b3;
  }
  
  input[type="text"] {
    padding: 5px;
    font-size: 16px;
    margin-top: 10px;
    width: calc(100% - 22px);
    box-sizing: border-box;
  }
  
  .acertijos {
    border: 2px solid #0056b3; /* Especifica el tipo de borde */
    border-radius: 5px;
    background-color: #0056b3;
    color: white;
    padding: 10px; /* Añade un poco de padding para mejor visualización */
  }
  